section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ventana-registro {
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(212, 73, 18, 0.877);
    border-radius: 25px;
    padding-top: 60px;
    padding-bottom: 60px;
}

