/* FESTIVAL PROTAGONISTA */
#festival-protagonista {
    padding-top: 3em;
    padding-bottom: 3em;
    background: linear-gradient(to top, var(--rojo-oscuro-ameri), var(--negro-ameri));
}

#festival-protagonista .informacion {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.3em;
}

#festival-protagonista h1 {
    display: inline-block;
    color: white;
    font-size: 40px;
}

#festival-protagonista p {
    color: white;
}

#festival-protagonista img {
    width: 50vw;
    height: 30%;
    object-fit: cover;
    border-radius: 1em;
}

#lanzamientos {
    padding-top: 2em;
    padding-bottom: 2em;
    background: linear-gradient(to bottom, var(--rojo-oscuro-ameri), var(--amarillo-5202), var(--rojo-oscuro-ameri));
    /* background-color: var(--rojo-oscuro-ameri); */
    width: 100%;
}

#artistas-destacados {
    padding-top: 2em;
    padding-bottom: 6.5em;
    /* background: linear-gradient(to bottom, var(--amarillo-5202), #6a0029); */
    /* background-color: var(--rojo-oscuro-ameri); */
    background: linear-gradient(var(--rojo-oscuro-ameri), #590202);
}


/* FESTIVALES */
#festivales {
    padding-top: 5em;
    padding-bottom: 10em;
    background-color: #590202;
}

#festivales .barra-arriba-seccion {
    background-color: rgb(3, 3, 3);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

#festivales .contenido-de-seccion{
    background-image: url(../src/festivales-background.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;

    padding-top: 30px;
    padding-bottom: 100px;

    padding-right: 200px;
    padding-left: 200px;

    display: flex;
    flex-direction: column;
}

#festivales .contenido-de-seccion>div{
    display: flex;
}

#festivales .contenido-de-seccion #lista-festivales{
    width: 70%;
}

#festivales .contenido-de-seccion #lista-festivales article{
    width: 30%;
}

#festivales .contenido-de-seccion #festivales-aside{
    height: 700px;
}

#festivales .contenido-de-seccion #festivales-aside article{
    width: 80%;
}

#festivales .contenido-de-seccion #festivales-aside{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#top-10 {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #444444, #004a6a);
}

#top-10 .contenido-de-seccion ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* dos columnas */
    column-gap: 3em;
    row-gap: 0.6em;
    color: white;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#top-10 .contenido-de-seccion li {
    margin: 0;
    padding: 0;
}

#top-10 .contenido-de-seccion li a {
    color: white;
    text-decoration: none;
    display: inline;
    /* en línea para que se lea como una frase */
}

#top-10 .contenido-de-seccion li a p {
    display: inline;
    margin: 0;
}

#top-10 .contenido-de-seccion li a p:first-child::after {
    content: " — ";
    /* separador entre artista y canción */
}

#top-10 .contenido-de-seccion li a p:last-child {
    font-style: italic;
    /* canción en cursiva */
}