*{
    color: white;
}

#pag-lanzamientos{
    background-color: black;
}

article{
    margin-bottom: 30px;
}

/* Separar imagen de contenido */
.contenido-de-seccion .contenido-articulo{
    background-color: grey;
    display: flex;
    justify-content: flex-start;
}

.contenido-de-seccion .contenido-articulo>div{
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.informacion-lanzamiento>div{
    width: 50%;
    padding: 20px;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.informacion-lanzamiento h3{
    font-size: 30px;
}

.informacion-lanzamiento p{
    text-justify: justify;
    text-align: justify;
}

.informacion-lanzamiento .profile-pic{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.informacion-lanzamiento .profile-pic img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(58, 56, 56, 0.308);
    object-fit: cover;
}

.informacion-lanzamiento ol{
    padding-top: 30px;
    padding-left: 35px;
}

.contenido-articulo>img{
    width: 35%;
    object-fit: cover;
}