* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;  */
    /* background-color: black; */
    font-family: 'Inter', sans-serif;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: black;
}

header h2 {
    color: white;
}

/* NAV */
nav ul li {
    display: inline-block;
    margin-right: 0.25em;
    margin-left: 0.25em;

    border: 1px solid white;
    border-radius: 0.5em;

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

nav ul li:hover {
    background-color: rgb(0, 167, 0);
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* FESTIVAL PROTAGONISTA */
#festival-protagonista {
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #20023d, #1a1a1a);
}

#festival-protagonista .informacion {
    width: 35%;
}

#festival-protagonista .informacion>* {
    margin-bottom: 1em;
}

#festival-protagonista h1 {
    display: inline-block;
    color: white;
}

#festival-protagonista p {
    color: white;
}

/* #botones {
    display: inline-block;
}

#botones a {
    text-decoration: none;
    color: white;
    border: 1px solid green;
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: green;
} */

#festival-protagonista img {
    width: 50vw;
    height: 30%;
    object-fit: cover;
    border-radius: 1em;
}

.grupo-tags p {
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(131, 131, 131);
    color: rgb(130, 130, 130);
    border-radius: 0.5em;
    padding: 0.3em;
}

.tag {
    display: inline-block;
    margin-top: 0.2em;
    text-decoration: none;
    border: 1px solid rgb(131, 131, 131);
    color: rgb(130, 130, 130);
    border-radius: 0.5em;
    padding: 0.3em;
}

.tag:hover {
    color: white;
    border: 1px solid white;
}

#lanzamientos {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #444444, #025a6a);
    width: 100vw;
}


h2 {
    color: white;
}

.barra-arriba-seccion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.barra-arriba-seccion a {
    text-decoration: none;
    color: white;
    border: 1px solid rgb(0, 117, 128);
    border-radius: 2em;
    padding: 0.5em 1em 0.5em 1em;
}

.articulos-carta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.articulos-carta article {
    /* border: 1px solid rgb(131, 131, 131); */
    background-color: rgb(86, 86, 86);
    border-radius: 1em;
    width: 17%;
}

.articulos-carta article:hover {
    box-shadow: 0 0 10px 2px rgb(112, 112, 112);
}

.articulos-carta img {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    height: 60%;
}

.articulos-carta article>div {
    color: white;
    padding: 0.5em;
}

#artistas-destacados {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #444444, #6a0029);
}

.contenido-de-seccion {
    width: 60%;
}


.articulos-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.articulos-horizontal article {
    width: 23.7%;
    height: 100%;
    background-color: #444444;
    display: flex;
    border-radius: 10px;
    color: white;
}

.articulos-horizontal img {
    width: 30%;
    border-radius: 10px;
}

.articulos-horizontal article>div {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.articulos-horizontal article>div h3 {
    font-size: 0.9em;
}

.articulos-horizontal article>div p {
    font-size: 0.7em;
    display: inline;
}

/* FESTIVALES */
#festivales {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #444444, #6a4a00);
}

#festivales .articulos-carta {
    background-color: green;
    width: 60%;
}

#festivales div+div {
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
}
#festivales aside{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}